@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.Pedido
@{ ViewData["Title"] = Localizer["DetallesPedidoTitle"]; }
<h1 class="my-4">@Localizer["DetallesPedidoTitle"]</h1><hr />
<dl class="row">
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.UsuarioId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.UsuarioId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.RestauranteId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.RestauranteId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.RepartidorId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.RepartidorId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.DireccionEntregaId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.DireccionEntregaId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.EstadoPedido)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.EstadoPedido)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Subtotal)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Subtotal)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CostoEnvio)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CostoEnvio)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Total)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Total)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.TipoMetodoPago)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.TipoMetodoPago)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.MetodoPagoId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.MetodoPagoId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CuponId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CuponId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.MontoDescuento)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.MontoDescuento)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Notas)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Notas)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaPedido)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.FechaPedido)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaEntregaEstimada)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.FechaEntregaEstimada)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaEntregaReal)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.FechaEntregaReal)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ActualizadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ActualizadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Usuario)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Usuario)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Restaurante)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Restaurante)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Repartidor)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Repartidor)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.DireccionEntrega)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.DireccionEntrega)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Detalles)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Detalles)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Pagos)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Pagos)</dd>
</dl>
<div><a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">@Localizer["EditarBtn"]</a>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">@Localizer["VolverListadoBtn"]</a></div>
