@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model IEnumerable<Delivery.Modelos.Entidades.Producto>
@{ ViewData["Title"] = Localizer["GestionProductos"]; }
<h1>@Localizer["TodosLosProductos"]</h1>
<table class="table">
    <thead><tr><th>ID</th><th>@Localizer["NombreTag"]</th><th>@Localizer["RestauranteIDTag"]</th><th>@Localizer["PrecioTag"]</th></tr></thead>
    <tbody>
        @foreach (var item in Model) {
            <tr><td>@item.Id</td><td>@item.Nombre</td><td>@item.RestauranteId</td><td>$@item.Precio</td></tr>
        }
    </tbody>
</table>
