@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model IEnumerable<Delivery.Modelos.Entidades.Repartidor>
@{ ViewData["Title"] = Localizer["GestionRepartidores"]; }
<h1>@Localizer["RepartidoresRegistrados"]</h1>
<div class="alert alert-info">@Localizer["VistaBasicaAdminParaAprobarRep"]</div>
<table class="table">
    <thead><tr><th>ID</th><th>@Localizer["LicenciaTag"]</th><th>@Localizer["EstadoTag"]</th></tr></thead>
    <tbody>
        @foreach (var item in Model) {
            <tr><td>@item.UsuarioId</td><td>@item.LicenciaConducir</td><td>@item.EstadoAprobacion</td></tr>
        }
    </tbody>
</table>
