@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.CategoriaProducto
@{ ViewData["Title"] = Localizer["DetallesCategoriaProductoTitle"]; }
<h1 class="my-4">@Localizer["DetallesCategoriaProductoTitle"]</h1><hr />
<dl class="row">
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
<dt class="col-sm-3">Restaurante</dt>
<dd class="col-sm-9">@(Model.Restaurante?.Nombre)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descripcion)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CreadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ActualizadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ActualizadoEn)</dd>

</dl>
<div><a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">@Localizer["EditarBtn"]</a>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">@Localizer["VolverListadoBtn"]</a></div>
