@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.Vehiculo
@{ ViewData["Title"] = Localizer["EliminarVehiculoTitle"]; }
<h1 class="my-4 text-danger">@Localizer["ConfirmarEliminarMsg"]</h1><hr />
<dl class="row">
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.RepartidorId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.RepartidorId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.TipoVehiculo)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.TipoVehiculo)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Placa)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Placa)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Marca)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Marca)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Modelo)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Modelo)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Anio)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Anio)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Color)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Color)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.FotoVehiculoUrl)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.FotoVehiculoUrl)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CreadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Repartidor)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Repartidor)</dd>
</dl>
<form asp-action="Delete">
<input type="hidden" asp-for="Id" />
<button type="submit" class="btn btn-danger btn-confirm" data-title="żEliminar registro?" data-text="Esta acción no se puede deshacer" data-danger="true" data-confirm="Sí, eliminar">@Localizer["EliminarConfirmadoBtn"]</button>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">@Localizer["CancelarBtn"]</a>
</form>

