@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model IEnumerable<Delivery.Modelos.Entidades.Vehiculo>
@{ ViewData["Title"] = Localizer["VehiculosTitle"]; }
<h1 class="my-4">@Localizer["VehiculosTitle"]</h1>
<p><a asp-action="Create" class="btn btn-primary">@Localizer["CrearNuevoBtn"]</a></p>
<div class="table-responsive table-scrollable">
<table class="table skeleton-loader table-striped table-hover align-middle">
<thead class="table-dark"><tr>
<th>Id</th>
<th>RepartidorId</th>
<th>TipoVehiculo</th>
<th>Placa</th>
<th>Marca</th>
<th>@Localizer["AccionesTag"]</th></tr></thead><tbody>
@foreach (var item in Model) {<tr>
<td>@Html.DisplayFor(modelItem => item.Id)</td>
<td>@Html.DisplayFor(modelItem => item.RepartidorId)</td>
<td>@Html.DisplayFor(modelItem => item.TipoVehiculo)</td>
<td>@Html.DisplayFor(modelItem => item.Placa)</td>
<td>@Html.DisplayFor(modelItem => item.Marca)</td>
<td>
<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning btn-confirm" data-title="¿Confirmar acción?" data-text="Por favor confirma esta acción" data-confirm="Sí, continuar">@Localizer["EditarBtn"]</a>
<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-white">@Localizer["DetallesBtn"]</a>
<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btn-confirm" data-title="¿Eliminar registro?" data-text="Esta acción no se puede deshacer" data-danger="true" data-confirm="Sí, eliminar">@Localizer["EliminarBtn"]</a>
</td></tr>}
</tbody></table></div>


