@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["CrearCuentaTitulo"];
}

<h1>@Localizer["CrearCuentaTitulo"]</h1>
<p>@Localizer["SeleccionaTipoCuenta"]</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <h3>@Localizer["SoyCliente"]</h3>
        <p>@Localizer["SoyClienteDesc"]</p>
        <a asp-controller="Auth" asp-action="Registro">@Localizer["RegCliente"]</a>
    </div>
    <div class="col-md-4">
        <h3>@Localizer["SoyRepartidor"]</h3>
        <p>@Localizer["SoyRepartidorDesc"]</p>
        <a asp-controller="RegistroRepartidor" asp-action="Index">@Localizer["RegRepartidor"]</a>
    </div>
    <div class="col-md-4">
        <h3>@Localizer["SoyRestaurante"]</h3>
        <p>@Localizer["SoyRestauranteDesc"]</p>
        <a asp-controller="RegistroRestaurante" asp-action="Index">@Localizer["RegRestaurante"]</a>
    </div>
</div>

<hr />
<p>@Localizer["YaTienesCuenta"] <a asp-controller="Auth" asp-action="Login">@Localizer["IniciarSesion"]</a></p>
