@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.Repartidor
@{ ViewData["Title"] = Localizer["DetallesRepartidorTitle"]; }
<h1 class="my-4">@Localizer["DetallesRepartidorTitle"]</h1><hr />
<dl class="row">
<dt class="col-sm-3">Repartidor</dt>
<dd class="col-sm-9">@(Model.Usuario?.Nombre + " " + Model.Usuario?.Apellidos)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.LicenciaConducir)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.LicenciaConducir)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.FotoLicenciaUrl)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.FotoLicenciaUrl)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.EstadoAprobacion)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.EstadoAprobacion)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.AprobadoPor)</dt>
<dd class="col-sm-9">@(Model.UsuarioAprobador != null ? Model.UsuarioAprobador.Nombre + " " + Model.UsuarioAprobador.Apellidos : "")</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaAprobacion)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.FechaAprobacion)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Estado)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Estado)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CalificacionPromedio)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CalificacionPromedio)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CreadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ActualizadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ActualizadoEn)</dd>

</dl>
<div><a asp-action="Edit" asp-route-id="@Model?.UsuarioId" class="btn btn-warning">@Localizer["EditarBtn"]</a>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">@Localizer["VolverListadoBtn"]</a></div>
