@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model IEnumerable<Delivery.Modelos.Entidades.Usuario>
@{ ViewData["Title"] = Localizer["UsuariosTitle"]; }
<h1 class="my-4">@Localizer["UsuariosTitle"]</h1>
<p><a asp-action="Create" class="btn btn-primary">@Localizer["CrearNuevoBtn"]</a></p>
<div class="table-responsive">
<table class="table table-striped table-hover align-middle">
<thead class="table-dark"><tr>
<th>Id</th>
<th>RolId</th>
<th>Nombre</th>
<th>Apellidos</th>
<th>Email</th>
<th>@Localizer["AccionesTag"]</th></tr></thead><tbody>
@foreach (var item in Model) {<tr>
<td>@Html.DisplayFor(modelItem => item.Id)</td>
<td>@Html.DisplayFor(modelItem => item.RolId)</td>
<td>@Html.DisplayFor(modelItem => item.Nombre)</td>
<td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
<td>@Html.DisplayFor(modelItem => item.Email)</td>
<td>
<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">@Localizer["EditarBtn"]</a>
<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-white">@Localizer["DetallesBtn"]</a>
<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">@Localizer["EliminarBtn"]</a>
</td></tr>}
</tbody></table></div>
