@model Delivery.Modelos.Entidades.Producto
@{ ViewData["Title"] = "Eliminar Producto"; }
<h1 class="my-4 text-danger">¿Estás seguro de que quieres eliminar esto?</h1><hr />
<dl class="row">
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.RestauranteId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.RestauranteId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CategoriaId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CategoriaId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descripcion)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Precio)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Precio)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ImagenUrl)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ImagenUrl)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Disponible)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Disponible)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.TiempoPreparacion)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.TiempoPreparacion)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CreadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ActualizadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ActualizadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Restaurante)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Restaurante)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Categoria)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Categoria)</dd>
</dl>
<form asp-action="Delete">
<input type="hidden" asp-for="Id" />
<button type="submit" class="btn btn-danger">Eliminar Confirmado</button>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">Cancelar</a>
</form>
