@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.Producto
@{ ViewData["Title"] = Localizer["DetallesProductoTitle"]; }
<h1 class="my-4">@Localizer["DetallesProductoTitle"]</h1><hr />
<dl class="row">
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
<dt class="col-sm-3">Restaurante</dt>
<dd class="col-sm-9">@(Model.Restaurante?.Nombre)</dd>
<dt class="col-sm-3">Categoría</dt>
<dd class="col-sm-9">@(Model.Categoria?.Nombre)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descripcion)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Precio)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Precio)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ImagenUrl)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ImagenUrl)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Disponible)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Disponible)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.TiempoPreparacion)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.TiempoPreparacion)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CreadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ActualizadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ActualizadoEn)</dd>

</dl>
<div><a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">@Localizer["EditarBtn"]</a>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">@Localizer["VolverListadoBtn"]</a></div>
