@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model IEnumerable<Delivery.Modelos.Entidades.RegistroAuditoria>
@{ ViewData["Title"] = Localizer["AuditoriasTitle"]; }
<h1 class="my-4">@Localizer["AuditoriasTitle"]</h1>
<div class="table-responsive table-scrollable">
<table class="table skeleton-loader table-striped table-hover align-middle">
<thead class="table-dark"><tr>
<th>Id</th>
<th>Usuario</th>
<th>FechaHora</th>
<th>ModuloAfectado</th>
<th>@Localizer["AccionesTag"]</th></tr></thead><tbody>
@foreach (var item in Model) {<tr>
<td>@Html.DisplayFor(modelItem => item.Id)</td>
<td>@(item.Usuario?.Nombre + " " + item.Usuario?.Apellidos)</td>
<td>@Html.DisplayFor(modelItem => item.FechaHora)</td>
<td>@Html.DisplayFor(modelItem => item.ModuloAfectado)</td>
<td>
<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-white">@Localizer["DetallesBtn"]</a>
</td></tr>}
</tbody></table></div>

