@model Delivery.Modelos.Entidades.Pago
@{ ViewData["Title"] = "Eliminar Pago"; }
<h1 class="my-4 text-danger">¿Estás seguro de que quieres eliminar esto?</h1><hr />
<dl class="row">
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.PedidoId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.PedidoId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.TipoMetodoPago)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.TipoMetodoPago)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Monto)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Monto)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.EstadoPago)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.EstadoPago)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ReferenciaTransaccion)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ReferenciaTransaccion)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaPago)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.FechaPago)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CreadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Pedido)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Pedido)</dd>
</dl>
<form asp-action="Delete">
<input type="hidden" asp-for="Id" />
<button type="submit" class="btn btn-danger">Eliminar Confirmado</button>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">Cancelar</a>
</form>
