@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.Rol
<h1>@Localizer["EliminarRolTitle"]</h1>
<h3>@Localizer["ConfirmarEliminarMsg"]</h3>
<div>
    @Html.DisplayForModel()
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="@Localizer["EliminarConfirmadoBtn"]" /> |
    <a asp-action="Index">@Localizer["VolverListadoBtn"]</a>
</form>
