@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model IEnumerable<Delivery.Modelos.Entidades.Rol>
<h1>@Localizer["RolesTitle"]</h1>
<p><a asp-action="Create">@Localizer["CrearNuevoBtn"]</a></p>
<table border="1">
    <thead>
        <tr>
            <th>@Localizer["IdInfoTag"]</th>
            <th>@Localizer["AccionesTag"]</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["EditarBtn"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["DetallesBtn"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["EliminarBtn"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
