@model Delivery.Modelos.Entidades.CategoriaProducto
@{ ViewData["Title"] = "Detalles CategoriaProducto"; }
<h1 class="my-4">Detalles CategoriaProducto</h1><hr />
<dl class="row">
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.RestauranteId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.RestauranteId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descripcion)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CreadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ActualizadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ActualizadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Restaurante)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Restaurante)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Productos)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Productos)</dd>
</dl>
<div><a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">Volver al listado</a></div>
