@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model IEnumerable<Delivery.Modelos.Entidades.Restaurante>
@{ ViewData["Title"] = Localizer["RestaurantesTitle"]; }
<h1 class="my-4">@Localizer["RestaurantesTitle"]</h1>
<p><a asp-action="Create" class="btn btn-primary">@Localizer["CrearNuevoBtn"]</a></p>
<div class="table-responsive glass-card p-4 rounded-4 shadow-lg border-0 mt-3 table-scrollable">
<table class="table table-dark table-hover table-borderless align-middle skeleton-loader mb-0">
<thead class="border-bottom border-secondary"><tr>
<th>Id</th>
<th>Nombre</th>
<th>Descripcion</th>
<th>Categoria</th>
<th>Calle</th>
<th>Creado por</th>
<th>@Localizer["AccionesTag"]</th></tr></thead><tbody>
@foreach (var item in Model) {<tr>
<td>@Html.DisplayFor(modelItem => item.Id)</td>
<td>@Html.DisplayFor(modelItem => item.Nombre)</td>
<td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
<td>@Html.DisplayFor(modelItem => item.Categoria)</td>
<td>@Html.DisplayFor(modelItem => item.Calle)</td>
<td>@(item.UsuarioCreador?.Nombre + " " + item.UsuarioCreador?.Apellidos)</td>
<td>
<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning btn-confirm" data-title="¿Confirmar acción?" data-text="Por favor confirma esta acción" data-confirm="Sí, continuar">@Localizer["EditarBtn"]</a>
<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-white">@Localizer["DetallesBtn"]</a>
<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger btn-confirm" data-title="¿Eliminar registro?" data-text="Esta acción no se puede deshacer" data-danger="true" data-confirm="Sí, eliminar">@Localizer["EliminarBtn"]</a>
</td></tr>}
</tbody></table></div>



