@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.Direccion
@{ ViewData["Title"] = Localizer["EliminarDireccion"]; }

<h1>@Localizer["EliminarDireccion"]</h1>
<p>@Localizer["ConfirmarEliminarDireccion"]</p>
<hr />

<dl>
    <dt>@Localizer["AliasTag"]</dt>
    <dd>@Model.Alias</dd>

    <dt>Dirección</dt>
    <dd>@Model.Calle @Model.Numero</dd>

    <dt>@Localizer["CiudadTag"]</dt>
    <dd>@Model.Ciudad</dd>

    <dt>Referencia</dt>
    <dd>@Model.Referencia</dd>

    <dt>Dirección Principal</dt>
    <dd>@(Model.EsPrincipal ? "Sí" : "No")</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Confirmar Eliminación</button>
    <a asp-action="Index">@Localizer["CancelarBtn"]</a>
</form>
