@model Delivery.Modelos.Entidades.Direccion
@{ ViewData["Title"] = "Detalles Direccion"; }
<h1 class="my-4">Detalles Direccion</h1><hr />
<dl class="row">
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.UsuarioId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.UsuarioId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Alias)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Alias)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Calle)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Calle)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Numero)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Numero)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Ciudad)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Ciudad)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Referencia)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Referencia)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Latitud)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Latitud)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Longitud)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Longitud)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.EsPrincipal)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.EsPrincipal)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CreadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ActualizadoEn)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ActualizadoEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Usuario)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Usuario)</dd>
</dl>
<div><a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">Volver al listado</a></div>
