@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.Resena
@{ ViewData["Title"] = Localizer["DetallesResenaTitle"]; }
<h1 class="my-4">@Localizer["DetallesResenaTitle"]</h1><hr />
<dl class="row">
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.PedidoId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.PedidoId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.UsuarioId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.UsuarioId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.RestauranteId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.RestauranteId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.RepartidorId)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.RepartidorId)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CalificacionRestaurante)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CalificacionRestaurante)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ComentarioRestaurante)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ComentarioRestaurante)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.CalificacionRepartidor)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.CalificacionRepartidor)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.ComentarioRepartidor)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.ComentarioRepartidor)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaResena)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.FechaResena)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Pedido)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Pedido)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Usuario)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Usuario)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Restaurante)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Restaurante)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Repartidor)</dt>
<dd class="col-sm-9">@Html.DisplayFor(model => model.Repartidor)</dd>
</dl>
<div><a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">@Localizer["EditarBtn"]</a>
<a asp-action="Index" class="btn btn-outline-secondary ms-2">@Localizer["VolverListadoBtn"]</a></div>
